<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.erremauro.randompassword</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CC68D8E6-A0D8-40D6-8061-BA21DE72F3CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4429426-CB9D-432C-A34B-69FC29AFAB96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4429426-CB9D-432C-A34B-69FC29AFAB96</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Roberto Mauro</string>
	<key>description</key>
	<string>Generate a random password</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random Password</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>passwd</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>randomizing...</string>
				<key>script</key>
				<string>python "$alfred_preferences/workflows/$alfred_workflow_uid/passwd.py"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string>Generate a random password</string>
				<key>title</key>
				<string>Generate Password</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CC68D8E6-A0D8-40D6-8061-BA21DE72F3CB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E4429426-CB9D-432C-A34B-69FC29AFAB96</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># randompassword-alfred-workflow

Generate a random password similiar to the one generated by the iCloud Keychain</string>
	<key>uidata</key>
	<dict>
		<key>CC68D8E6-A0D8-40D6-8061-BA21DE72F3CB</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>E4429426-CB9D-432C-A34B-69FC29AFAB96</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>max_repeats</key>
		<string>1</string>
		<key>separator</key>
		<string>-</string>
		<key>word_length</key>
		<string>6</string>
		<key>words</key>
		<string>3</string>
	</dict>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
