<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.erremauro.randompassword</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>08013891-3E56-410C-8BBD-DBE89ECEFB23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4429426-CB9D-432C-A34B-69FC29AFAB96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1015726E-9240-4C8D-A097-68671E384AC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08013891-3E56-410C-8BBD-DBE89ECEFB23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4429426-CB9D-432C-A34B-69FC29AFAB96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55380316-2994-4A5D-A85C-71CB61368C68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roberto Mauro</string>
	<key>description</key>
	<string>Generate a random password</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random Password</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E4429426-CB9D-432C-A34B-69FC29AFAB96</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New Password</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>55380316-2994-4A5D-A85C-71CB61368C68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>passwd</string>
				<key>subtext</key>
				<string>Generate a random password</string>
				<key>text</key>
				<string>Generate Password</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1015726E-9240-4C8D-A097-68671E384AC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python "$alfred_preferences/workflows/$alfred_workflow_uid/passwd.py"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08013891-3E56-410C-8BBD-DBE89ECEFB23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Generate a random password similiar to the one generated by the iCloud Keychain</string>
	<key>uidata</key>
	<dict>
		<key>08013891-3E56-410C-8BBD-DBE89ECEFB23</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>1015726E-9240-4C8D-A097-68671E384AC2</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>55380316-2994-4A5D-A85C-71CB61368C68</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>E4429426-CB9D-432C-A34B-69FC29AFAB96</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>max_repeats</key>
		<string>2</string>
		<key>separator</key>
		<string>-</string>
		<key>word_length</key>
		<string>6</string>
		<key>words</key>
		<string>3</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
